// COLORS
$primary-color: #163020;
$secondary-color: #304D30;

$white-color: #EEF0E5;

$dark-grey: #333333;
$light-grey: #B6C4B6;

$dark-blue-text: #3b444b;// For Headings

$name-text: #dbce19;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
